In [46]:
import pandas as pd

# Original data

df = pd.read_excel('finger_july.xls',engine='xlrd', dtype={"nik": str})

df.columns = df.columns.str.lower()
# Convert Tanggal to datetime format
df['tanggal'] = pd.to_datetime(df['tanggal'], format='%d/%m/%Y')


print(df.info())
# Create a date range covering the entire period
start_date = df['tanggal'].min()
end_date = df['tanggal'].max()
all_dates = pd.date_range(start=start_date, end=end_date).to_series(name='tanggal')
unique_data = df[['nik', 'nama']].drop_duplicates()
print(len(unique_data),len(all_dates))


complete_df = unique_data.merge(all_dates, how='cross')



print(complete_df.info())
# Merge with the original DataFrame
final_df = pd.merge(complete_df, df, on=['nik', 'nama', 'tanggal'], how='left')


# Fill missing Jam_Mulai and Jam_Akhir with '00:00'
#final_df['jam_mulai'].fillna('00:00', inplace=True)
#final_df['jam_akhir'].fillna('00:00', inplace=True)

# Reset index for a cleaner view
final_df.reset_index(drop=True, inplace=True)

final_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nik        334 non-null    int64
 1   nama       334 non-null    object
 2   tanggal    334 non-null    datetime64[ns]
 3   jam_mulai  334 non-null    object
 4   jam_akhir  334 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 13.2+ KB
None
13 31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nik     403 non-null    int64
 1   nama    403 non-null    object
 2   Date    403 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 9.6+ KB
None

KeyError: 'tanggal'

In [ ]:
final_df.to_csv("fileout.csv",index=False)

In [1]:
import pandas as pd
ter_mapping_detail_df = pd.read_csv('temp_data/ter_detail_mapping.csv')

In [2]:
ter_mapping_detail_df

    ter_type  min_salary    max_salary  ter_percentage
0      TER_A           0       5400000          0.0000
1      TER_A     5400001       5650000          0.0025
2      TER_A     5650001       5950000          0.0050
3      TER_A     5950001       6300000          0.0075
4      TER_A     6300001       6750000          0.0100
..       ...         ...           ...             ...
120    TER_C   463000001     561000000          0.3000
121    TER_C   561000001     709000000          0.3100
122    TER_C   709000001     965000000          0.3200
123    TER_C   965000001    1419000000          0.3300
124    TER_C  1419000001  999999999999          0.3400

[125 rows x 4 columns]

In [4]:
import pandas as pd

ter_mapping_detail_df = pd.read_csv('temp_data/ter_detail_mapping.csv')

gross_salary = 0


# Find the row where the gross_salary fits within the salary range
match = ter_mapping_detail_df[(ter_mapping_detail_df['min_salary'] <= gross_salary) & (ter_mapping_detail_df['max_salary'] >= gross_salary)]
if not match.empty:
    print( match.iloc[0]['ter_percentage'])
else:
    print(None)

0.0

In [5]:
print(ter_mapping_detail_df)

    ter_type  min_salary    max_salary  ter_percentage
0      TER_A           0       5400000          0.0000
1      TER_A     5400000       5650000          0.0025
2      TER_A     5650000       5950000          0.0050
3      TER_A     5950000       6300000          0.0075
4      TER_A     6300000       6750000          0.0100
..       ...         ...           ...             ...
120    TER_C   463000000     561000000          0.3000
121    TER_C   561000000     709000000          0.3100
122    TER_C   709000000     965000000          0.3200
123    TER_C   965000000    1419000000          0.3300
124    TER_C  1419000000  999999999999          0.3400

[125 rows x 4 columns]